
:root {
  --transition-time: 0.3s;
	--font-def-size: 35px;
	--margin-side: 40px;
  --insert-color: #99B6BD;
}

/*************************** RESET ***************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
/*************************** RESET ***************************/

html, body {
	height: 100%;
	width: 100%;
	font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
	min-width: 1040px;
	background-color: #E5E5EA;
　position: relative;
}

.container {
	margin: auto;
	position: relative;
	min-height: 100%;
	max-width: 1040px;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
	background-color: #f0f0f0;
	position: relative;
	padding-bottom: 50px;
}


hr {
  height: 1px;
  border: none;
  border-top: 1px #D5D5DA solid;
	margin-left: calc(var(--margin-side) + 30px);
}

/*** タイトル ***/
.title{
	text-align: center;
  width: 100%;
  background-color: #fff;
  padding: 20px 0px 20px 0px;
}

#title{
  color:#ff8319;
  font-size: var(--font-def-size);
  font-weight: 700;
  line-height: 2em;
}

#subtitle{
  color:#808080;
  font-size: 20px;
  font-weight: 300;
}

/*** ON/OFFスイッチ ***/
.switch{

  position: relative;
	float:right;
	margin-top: -80px;
	margin-right: var(--margin-side);
  margin-bottom: 18px;
  height:55px;
}

.switch__label {
  text-align: right;
	width: 110px;
	position: relative;
	display: inline-block;
  margin-top: -10px;
}

.menu_icon{
	vertical-align: middle;
	margin-right: 10px;
  height: 75px;
}

.switch_text{
	font-size: var(--font-def-size);
	margin-left: var(--margin-side);
  padding-top: 20px;
  padding-bottom: 20px;
}

.switch__content {
	display: block;
  cursor: pointer;
  position: relative;
  border-radius: 35px;
  height: 70px;
	overflow: hidden;
}
.switch__content:before {
	content: "";
	display: block;
	position: absolute;
	width: calc(100% - 3px);
	height: calc(100% - 3px);
	top: 0;
	left: 0;
	border: 1.5px solid #E5E5EA;
	border-radius: 35px;
	background-color: #fff;
}
.switch__content:after {
	content: "";
	display: block;
	position: absolute;
	background-color: transparent;
	width: 0;
	height: 0;
	top: 50%;
	left: 50%;
	border-radius: 30px;
	-webkit-transition: all var(--transition-time);
	   -moz-transition: all var(--transition-time);
	    -ms-transition: all var(--transition-time);
	     -o-transition: all var(--transition-time);
	        transition: all var(--transition-time);
}
.switch__input {
	display: none;
}

.switch__circle {
	display: block;
	top: 1px;
	left: 2px;
	position: absolute;
	-webkit-box-shadow: 0 2px 6px #999;
	        box-shadow: 0 2px 6px #999;
	width: 67px;
	height: 67px;
	-webkit-border-radius: 35px;
	        border-radius: 35px;
	background-color: #fff;
	-webkit-transition: all var(--transition-time);
	   -moz-transition: all var(--transition-time);
	    -ms-transition: all var(--transition-time);
	     -o-transition: all var(--transition-time);
	        transition: all var(--transition-time);
}
.switch__input:checked ~ .switch__circle {
	left: 45px;
}

.switch__input:checked ~ .switch__content:after {
	background-color: var(--insert-color);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/**************/
.button_container{
	margin-bottom:  calc(var(--margin-side) + 10px);
}

.btn-animation-02 {
  display: inline-block;
	/*width : 98% ;  IE8以下とAndroid4.3以下用フォールバック
  width : -webkit-calc(100% - var(--margin-side) * 2) ;*/
	width : calc(100% - var(--margin-side) * 2) ;
  text-align: center;
  background-color: var(--insert-color);
  border: 2px solid var(--insert-color);
  font-size: calc(var(--font-def-size) + 10px);
  color: var(--insert-color);
  text-decoration: none;
  font-weight: bold;
  padding: 25px 35px;
  border-radius: 5px;
  position: relative;
	margin-left:  var(--margin-side);
	margin-right:  var(--margin-side);

}

.btn-animation-02 span {
  position: relative;
  z-index: 1;
}

.btn-animation-02::before,
.btn-animation-02::after {
  content: "";
  display: block;
  background-color: #FFF;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: .2s;
}
.btn-animation-02::before {
  left: 0;
}
.btn-animation-02::after {
  right: 0;
}

.btn-animation-02:hover:before,
.btn-animation-02:hover:after {
  width: 0;
  background-color: #FFF;
}

.btn-animation-02:hover {
  color: #FFF;
}

/* ここから下がチェックボックスのCSS　*/
/*.container .cp_ipcheck{
}
*/
.cp_ipcheck {
 	width: 90%;
	margin-left: calc(var(--margin-side) * 1.5);
 	/*text-align: center;*/
	/*position: relative;*/
 }

 .cp_ipcheck output{
	 font-size: calc(var(--font-def-size) * 1.2);
 }
 .cp_ipcheck span{
	 font-size: calc(var(--font-def-size) * 0.7);
 }

 .cp_ipcheck .check-animation {
 	position: relative;
 	margin: 0 1rem 0 0;
 	cursor: pointer;

 }
 .cp_ipcheck .check-animation:before {
 	position: absolute;
 	z-index: 1;
 	top: -0.425rem;
 	left: -0.2875rem;
 	width: 1.25rem;
 	height: 0.875rem;
 	content: '';
 	-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
 	        transition:         transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
 	-webkit-transform: rotate(-45deg) scale(0, 0);
 	        transform: rotate(-45deg) scale(0, 0);
 	border: 5px solid #da3c41;
 	border-top-style: none;
 	border-right-style: none;
 }
 .cp_ipcheck .check-animation:checked:before {
 	-webkit-transform: rotate(-45deg) scale(1, 1);
 	        transform: rotate(-45deg) scale(1, 1);
 }
 .cp_ipcheck .check-animation:after {
 	position: absolute;
 	top: -0.825rem;
 	left: -0.8rem;
 	width: 2rem;
 	height: 2rem;
 	content: '';
 	cursor: pointer;
 	border: 2px solid #f2f2f2;
 	background: #ffffff;
 }

/* ここから下がコントロールバーのCSS　*/
input[type=range] {
  height: 20px;
  -webkit-appearance: none;
  margin: 2em auto;
  width: 70%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 18px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #CBD7D8;
  border-radius: 5px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 0px #000000;
  border: 0px solid #000000;
  height: 35px;
  width: 35px;
  border-radius: 13px;
  background: #85868B;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #CBD7D8;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #ECC9A0;
  border-radius: 5px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 13px;
  background: #9EC34B;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #CBD7D8;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #CBD7D8;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 13px;
  background: #9EC34B;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #CBD7D8;
}
input[type=range]:focus::-ms-fill-upper {
  background: #CBD7D8;
}
/*
.container {
	margin-bottom: 15px;
	position: relative;
}

.switch_label{
	font-size: 20px;
	padding-left: 100px;
}

.onoffswitch {
    position: absolute;
    width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}


.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; height: 30px; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; height: 30px; margin-left: -100%;
    transition: margin var(--transition-time) ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; height: 18px; margin-top: 6px; margin-right: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all var(--transition-time) ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
*/
