@charset "utf-8";
/* CSS Document */

HTML  CSS Result
EDIT ON

html, body {
	height: 100%;
	width: 100%;
	min-width: 540px;
	font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  background-color: #f0f0f0;

}

.container {
  text-align: center;
	margin-bottom: 15px;
	position: relative;
}

.container .explain{
	color: #5e5e5e;
}

.container h2{
	color: #5e5e5e;
}

.connect_container{
	margin-bottom: 30px;
	color: #5e5e5e;
	position: relative;
}


/* BLE ON/OFFスイッチ　*/
/*
.switch span{
 vertical-align:middle;
}

.switch__label {
	width: 55px;
	position: relative;
	display: inline-block;
}

.switch__content {
	display: block;
  cursor: pointer;
  position: relative;
  border-radius: 30px;
  height: 31px;
overflow: hidden;
}
.switch__content:before {
	content: "";
	display: block;
	position: absolute;
	width: calc(100% - 3px);
	height: calc(100% - 3px);
	top: 0;
	left: 0;
	border: 1.5px solid #9ec34b;
	border-radius: 30px;
	background-color: #fff;
}
.switch__content:after {
	content: "";
	display: block;
	position: absolute;
	background-color: transparent;
	width: 0;
	height: 0;
	top: 50%;
	left: 50%;
	border-radius: 30px;
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
	    -ms-transition: all .5s;
	     -o-transition: all .5s;
	        transition: all .5s;
}
.switch__input {
	display: none;
}

.switch__circle {
	display: block;
	top: 2px;
	left: 2px;
	position: absolute;
	-webkit-box-shadow: 0 2px 6px #999;
	        box-shadow: 0 2px 6px #999;
	width: 27px;
	height: 27px;
	-webkit-border-radius: 20px;
	        border-radius: 20px;
	background-color: #fff;
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
	    -ms-transition: all .5s;
	     -o-transition: all .5s;
	        transition: all .5s;
}
.switch__input:checked ~ .switch__circle {
	left: 26px;
}

.switch__input:checked ~ .switch__content:after {
	background-color: #9ec34b;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

*/

/* ここから下がボタンのCSS　*/
.btn-animation-01 {
  display: inline-block;
  width: 197px;
  text-align: center;
  background-color: #9ec34b;
  border: 2px solid #9ec34b;
  font-size: 16px;
  color: #9ec34b;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 24px;
  border-radius: 5px;
  position: relative;
	margin-bottom: 25px;
}

.btn-animation-01 span {
  position: relative;
  z-index: 1;
}

.btn-animation-01::before,
.btn-animation-01::after {
  content: "";
  display: block;
  background-color: #FFF;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: .2s;
}
.btn-animation-01::before {
  left: 0;
}
.btn-animation-01::after {
  right: 0;
}

.btn-animation-01:hover:before,
.btn-animation-01:hover:after {
  width: 0;
  background-color: #FFF;
}

.btn-animation-01:hover {
  color: #FFF;
}



/* ここから下がボタンのCSS　*/
.btn-animation-02 {
  display: inline-block;
  width: 400px;
  text-align: center;
  background-color: #9ec34b;
  border: 2px solid #9ec34b;
  font-size: 16px;
  color: #9ec34b;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 5px;
  position: relative;
}

.btn-animation-02 span {
  position: relative;
  z-index: 1;
}

.btn-animation-02::before,
.btn-animation-02::after {
  content: "";
  display: block;
  background-color: #FFF;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: .2s;
}
.btn-animation-02::before {
  left: 0;
}
.btn-animation-02::after {
  right: 0;
}

.btn-animation-02:hover:before,
.btn-animation-02:hover:after {
  width: 0;
  background-color: #FFF;
}

.btn-animation-02:hover {
  color: #FFF;
}


VIEW RESOURCES 1×
0.5×
0.25×
RERUN


/* ここから下がチェックボックスのCSS　*/
/*.container .cp_ipcheck{
}
*/
.cp_ipcheck {
 	width: 90%;
 	text-align: left;
	/*position: relative;*/
 }

 .cp_ipcheck span{
	 font-size: 10px;
 }

 .cp_ipcheck .check-animation {
 	position: relative;
 	margin: 0 1rem 0 0;
 	cursor: pointer;
 }
 .cp_ipcheck .check-animation:before {
 	position: absolute;
 	z-index: 1;
 	top: 0.125rem;
 	left: 0.1875rem;
 	width: 0.75rem;
 	height: 0.375rem;
 	content: '';
 	-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
 	        transition:         transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
 	-webkit-transform: rotate(-45deg) scale(0, 0);
 	        transform: rotate(-45deg) scale(0, 0);
 	border: 2px solid #da3c41;
 	border-top-style: none;
 	border-right-style: none;
 }
 .cp_ipcheck .check-animation:checked:before {
 	-webkit-transform: rotate(-45deg) scale(1, 1);
 	        transform: rotate(-45deg) scale(1, 1);
 }
 .cp_ipcheck .check-animation:after {
 	position: absolute;
 	top: -0.125rem;
 	left: 0;
 	width: 1rem;
 	height: 1rem;
 	content: '';
 	cursor: pointer;
 	border: 2px solid #f2f2f2;
 	background: #ffffff;
 }

/* ここから下がコントロールバーのCSS　*/
input[type=range] {
  height: 10px;
  -webkit-appearance: none;
  margin: 2em auto;
  width: 275px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #CBD7D8;
  border-radius: 5px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 13px;
  background: #9EC34B;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #CBD7D8;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #CBD7D8;
  border-radius: 5px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 13px;
  background: #9EC34B;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #CBD7D8;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #CBD7D8;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 13px;
  background: #9EC34B;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #CBD7D8;
}
input[type=range]:focus::-ms-fill-upper {
  background: #CBD7D8;
}

